<!DOCTYPE html>
<html lang="en">

<head>

  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' type='text/css' href='/css/main.css'/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
 
<body>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#"><h2>About us</h2></a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="main-navigation">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/groups">Groups</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="/tasks">Tasks</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/user/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  
  <header class="page-header about container-fluid">
    <!-- <div class="description"> -->
    <div class="overlay">
      <h3 style="color:#0394fc">Project Name:</h3>
      <p style="color:#FFFFFF">CS615 Group Project:Collaborative Task Sharing</p>
      <h3 style="color:#0394fc">Who we are!</h3>
      <p style="color:#FFFFFF">Janice  Reilly,Mishaal Ijaz and Sandeep Kumar</p>
      <h3 style="color:#0394fc">Technologies Used:</h3>
      <p style="color:#FFFFFF"> Node.js Express and MongoDB</p>
      <p style="color:#FFFFFF">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec neque et ante ornare
        posuere at in tellus. Donec tortor mauris, blandit id mattis non, bibendum mattis ligula. Aliquam id tellus
        accumsan, placerat sapien non, gravida tellus. Mauris nibh nibh, ultrices non semper id, lacinia ac libero.
        Aenean in auctor tellus. Ut vitae est eget elit congue placerat. Sed scelerisque, tellus quis vehicula pharetra,
        erat urna dignissim mauris, ut finibus augue libero quis lacus.

        Donec congue sem a leo rhoncus congue. Curabitur et pulvinar nisi, at sollicitudin lacus. In eget sapien eros.
        Sed blandit libero non lobortis varius. Sed elementum, dui vel tincidunt pulvinar, velit metus fermentum turpis,
        vitae ornare sapien lorem id tortor. Proin purus elit, finibus ac gravida quis, congue nec metus. Pellentesque a
        nisi iaculis, varius odio mattis, luctus mi. Nunc risus ipsum, finibus in viverra pellentesque, rutrum at justo.
        Pellentesque posuere blandit elit, sit amet sollicitudin libero efficitur sit amet. Maecenas viverra ultrices
        felis, sit amet tempor arcu sollicitudin in. Nullam at condimentum neque, et hendrerit nisl. Nullam sed sem sit
        amet sapien efficitur pretium at sed nisl. Vivamus auctor, massa ac egestas dignissim, lectus est pharetra diam,
        vel hendrerit leo tellus vel ipsum.</p>
    </div>
  </header>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>

</body>

</html>