*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #dadada;
}

.task-box {	
	top:50%;
	left: 50%;
	padding: 40px;
	margin: 50px;
	background: #0394fc;
	border-radius: 20px;		
}

.add{
	color: #515A5A;
}

.update{
	color : #20bd20;
}

.task {
	width: 400px;
}
.task-box h2 {
	text-align: center;
	padding: 30px;	
	font-size: 2em;/*parent child 1m to 2m*/
}

.task-header input {
	width: 92%;
	border-radius: 5px;
	height: 40px;
	border: 2px solid #aaa;
	box-shadow: 0 0 8px 0 dodgerBlue;
}
.task-header button {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}
.task-list-item {
	color: #f2f6e9;
	padding: 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	background: #515A5A;
	display: flex;
	flex-direction: row;
}
.task-list-item form {
	width: 100%;
	display: flex;
}
.task-list-item input {
	flex-grow: 2;
	margin-right: 20px;
	border: none;
	border-radius: 5px;
}
.task-list-item button {
	color: #f2f6e9;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	background-color: #20bd20;
}
.task-list-item .cancel {
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	background-color: #d91f11;
	margin-left: 5px;
}
.task-list-item div {
	flex-grow: 2;
}
.task-list-item .edit {
	color : #20bd20;
	margin-right: 10px;
	cursor:pointer;
	text-decoration: none;
}
.task-list-item .remove {
	color : #d91f11;
	margin-right: 5px;
	cursor:pointer;
	text-decoration: none;
}
